
/* font-family:Abel*/
@font-face {
    font-family: Abel;
    src: url('../font/Abel/Abel-Regular.ttf');
}
 
/* font-family:Anton*/
@font-face {
    font-family: Anton;
    src: url('../font/Anton/Anton-Regular.ttf');
}
/* font-family:jose*/
@font-face {
    font-family: Josefin_Sans;
    src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}
/* font-family:Lexend_Deca*/
@font-face {
    font-family: Lexend_Deca;
    src: url('../font/Lexend_Deca/LexendDeca-Regular.ttf');
}
/* font-family: Livvic*/
@font-face {
    font-family: Livvic;
    src: url('../font/Livvic/Livvic-Regular.ttf');
}