
@import url('../css/fonts.css');


html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /* theme-font*/
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin_Sans:'Josefin_Sans',cursive;
    --Lexend_Deca:'Lexend_Deca',cursive;
    --Livvic:'Livvic',cursive;
    --bg1:#656f79;
    --bg2:#7cb1e6;
}

/*NAVBAR*/

h1{
    font-family: var(--Lexend_Deca);
    font-size: 3.5rem;
}

h2{
    font-family: var(--Lexend_Deca);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: var(--bg1);
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

ul{
    list-style-type: none;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*-- navbar */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width:90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--bg1);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display:block;
    font-family:var(--Lexend_Deca);
    font-size: 1.6rem;

}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--bg2);
}

.nav .nav-items .nav-link:hover a{
    color: whitesmoke;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color:red;
}


/*-- navbar */

/*====-------viewport 750-----====*/

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
}


/*====-------viewport 750-----====*/

/*====-------carousal-----====*/

main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--bg2);
    margin:.5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--bg1);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--bg1);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/*====-------carousal-----====*/

/*====-------main-----====*/

main .site-title{
    background: url('../assets/s3.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content:center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: white;
}

main .site-title h1,h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--bg2);
}





main .site-title .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

/*====-------main-----====*/
