body {
 background-image: url('levi-frey-99GTObM6GUU-unsplash.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
 }

#heading{font-family: sans-serif; font-size: 70px; color: honeydew; text-shadow: 2px 2px 10px black;}

.content 
  {
    max-width: 1300px;
    margin: auto;
  }

  .container 
{
  position: relative;
  width: 50%;
}

.image 
{
  display: block;
  width: 100%;
  height: auto;
}

.overlay 
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 410px;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay
 {
  height: 100%;
  opacity: 0.7;
}

.text 
{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

a{text-decoration: none;}

#texts{text-shadow: 2px 2px 10px black;}

.footer
{
    background-image: linear-gradient(to bottom right,rgb(196, 9, 196),rgb(44, 44, 224));
    height: 450px;
    width:100%
    
}