a{text-decoration: none; } 

#heading{color:black; font-size:90px; font-family: sans-serif;}

#subheading{color:goldenrod; font-size:35px ;font-family: sans-serif;}

#places{color:red; font-size:35px ;font-family: sans-serif;}

#text{color:black; font-size: 23px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.top
{
    position: relative;
}   

.Kerala
{
    font-size: 70px;
    left: 100px;
    top:280px;
    position:absolute;
    color: azure;
    font-family: sans-serif;
    text-shadow: 2px 2px 10px black;
        
}
    
.History
{
    font-size: 70px;
    left: 100px;
    top:360px;
    position:absolute;
    color:azure;
    font-family: sans-serif;
    text-shadow: 2px 2px 10px black;
        
}

.container 
{
  position: relative;
  width: 50%;
}

.image 
{
  display: block;
  width: 100%;
  height: auto;
}

.overlay 
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 460;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay
 {
  height: 100%;
  opacity: 0.7;
}

.text 
{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.content 
  {
    max-width: 1300px;
    margin: auto;
  }
  .img{position: relative;}
  
  .munnar
{
    left: 164px;
    top:202px;
    position:absolute;
    color: azure;
    text-shadow: 2px 2px 10px black;
    font-size: 30px; 
    font-family: sans-serif;
    
    
}

.alappuzha
{
    left: 140px;
    top:202px;
    position:absolute;
    color: azure;
    text-shadow: 2px 2px 10px black;
    font-size: 30px; 
    font-family: sans-serif;
    
}

.kochi
{
    left: 182px;
    top:202px;
    position:absolute;
    color: azure;
    text-shadow: 2px 2px 10px black;
    font-size: 30px; 
    font-family: sans-serif;
    
}

.footer
{
    background-image: linear-gradient(to bottom right,rgb(196, 9, 196),rgb(44, 44, 224));
    height: 450px;
    width:100%
    
}