.collapsible {
              background-color: #777;
              color: white;
              cursor: pointer;
              padding: 30px;
              width: 100%;
              border: none;
              text-align: left;
              outline: none;
              font-size: 40px;
            }
            
            .active, .collapsible:hover {
              background-color: #555;
            }
            
            .content {
              padding: 0 25px;
              display: none;
              overflow: hidden;
              background-color: #f1f1f1;
              font-size: 30px;
            }

            